    <div class="popup_box">
         <h1><%= @action_name %>员工<a href="javascript:void(0)" class="close">关闭</a></h1>
         <%= form_for(@staff) do |f| %>
         <div class="popup_body">
              <div class="popup_body_area">
                  <div class="item">
                       <label><span class="red">*</span>名称：</label>
                       <%= f.text_field :name %>
                  </div>
                  <div class="item">
                       <label>岗位：</label>
                       <%= f.select :position, Staff::N_HEAD.invert %>
                  </div>
                  <div class="item">
                       <label>性别：</label>
                       <%= f.radio_button :sex, 0, :checked => f.object.sex ? false : true %> 男&nbsp;&nbsp;
                       <%= f.radio_button :sex, 1, :checked => f.object.sex ? true : false %> 女
                  </div>
                  <div class="item">
                       <label>教育程度：</label>
                       <%= f.select :education, Staff::N_EDUCATION.invert %>
                  </div>
                  <div class="item">
                       <label>出生年月：</label>
                       <%= f.text_field :birthday, :class => "Wdate", :readonly => true, :onClick => "WdatePicker();", :value => f.object.birthday.nil? ? "" :f.object.birthday.strftime("%Y-%m-%d") %>
                  </div>
                  <div class="item">
                       <label><span class="red">*</span>联系方式：</label>
                       <%= f.text_field :phone %>
                  </div>
                  <div class="item">
                       <label>籍贯：</label>
                       <%= f.text_field :hometown %>
                  </div>
                  <div class="item">
                       <label><span class="red">*</span>身份证：</label>
                       <%= f.text_field :id_card %>
                  </div>
                  <div class="item">
                       <label>民族：</label>
                       <%= f.text_field :nation %>
                  </div>
                  <div class="item">
                       <label>政治面貌：</label>
                       <%= f.text_field :political %>
                  </div>
                  <div class="item">
                       <label><span class="red">*</span>地址：</label>
                       <%= f.text_field :address %>
                  </div>
                <div class="item_textarea">
                     <label>上传照片：</label><%= f.file_field :photo, :class => "file" %>
                     <% if f.object.id %><span class="show_pic"><%= image_tag "/uploads/#{f.object.id}/#{f.object.photo}" %> </span><% end %>
                </div>

              </div>
              <div class="btn_box">
                <input type="button" class="confirm_btn" onclick="return checkStaff(this)" value="<%= @action_name %>" id="new_staff_btn"/></div>
              <div class="clear"></div>
         </div>
         <% end %>
    </div>
