<div class="popup_box">
  <h1>编辑优惠卡<a href="JavaScript:void(0)" id="edit_cancel" class="close">关闭</a></h1>
  <%= form_tag "/sv_cards/update", :multipart => true do %>
    <div class="popup_body">
      <div id="popup_body_area" class="popup_body_area">
        <div class="item">
          <label>名称：</label><input id="edit_card_name" name="edit_card_name" type="text" value="<%= @card.name %>"/>
          <input type="hidden" name="edit_card_id" value="<%= @card.id %>"/>
        </div>
        <div class="item">
          <label>类型：</label>
          <select id="edit_card_type" name="edit_card_type" disabled>
            <option value="1" <% if @card.types == 1 %>selected<% end %>>储值卡</option>
            <option value="0" <% if @card.types == 0 %>selected<% end %>>打折卡</option>
          </select>
        </div>
        <div class="item">
          <label>折扣：</label><input id="edit_discount_value" name="edit_discount_value" type="text" <% if @card.types == 1 %>disabled<% end %> value="<%= @card.discount %>"/>
        </div>
        <div class="item">
          <label>优惠卡金额：</label><input id="edit_discount_price" name="edit_discount_price" type="text" <% if @card.types == 1 %>disabled<% else %> value="<%= @card.price %>"<% end %>/>
        </div>
        <div class="item_textarea">
          <label>图片：</label>
          <input class="file" type="file" name="edit_card_url" id="edit_card_url"/>
          <span class="show_pic"><img src="<%= @card.img_url.nil? ? "" : @card.img_url.gsub("img#{@card.id}", "img#{@card.id}_#{Constant::SVCARD_PICSIZE[2]}") %>"/></span>
        </div>
        
        <div class="item_textarea">
          <label>具体内容：</label><textarea id="edit_card_description" name="edit_card_description"class="width_textarea"><%= @card.description %></textarea>
        </div>
        <div id="setObj" class="setObj">
          <% if @card.types == 1 %>
          <div class="setobj_name">项目：</div>
          <div class="setobj_box">
            <div class="seto_list">
              <span>充<input id="edit_started_money" name="edit_started_money" type="text" class="input_s" value="<%= @card_products[0].base_price if !@card_products.blank? %>"/>元</span>&nbsp;&nbsp;
              <span>送<input id="edit_ended_money" name="edit_ended_money" type="text" class="input_s" value="<%= @card_products[0].more_price if !@card_products.blank? %>"/>元</span>
            </div>
          </div>         
          <% end %>
        </div>
      </div>
      <div class="btn_box">
        <button type="button" class="confirm_btn" onclick="edit_card_validate(this)">确定</button>
        <button type="button" class="cancel_btn">取消</button>
    </div>
  </div>
   <% end %>
</div>