<div class="box">
  <div class="data_box">
    <div class="second_menu">
      <a href="/sv_cards" class="hover">优惠卡</a>
      <% if permission?(:market_manage, :sell_situation) %>
      <a href="/sv_cards/sell_situation">销售情况</a>
      <% end %>
    </div>
    <div class="data_menu">
      <% if permission?(:market_manage, :new_svcard) %><a id="new_card" href="JavaScript:void(0)" class="add_btn">新建优惠卡</a><% end %>
    </div>
    <div class="clear"></div>
    <div class="data_body">
      <div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
          <thead>
              <tr class="hbg">
                  <td>&nbsp;</td>
                  <td>名称</td>
                  <td>单价</td>
                  <td>类型</td>
                  <td>内容</td>
                  <td>操作</td>
                </tr>
            </thead>
            <tbody>
               <% @sv_cards.each do |sv_card| %>
              <tr>
                <td class="data_table_img">
                  <img  src="<%= sv_card.img_url.nil? ? "" : sv_card.img_url.gsub("img#{sv_card.id}", "img#{sv_card.id}_#{Constant::SVCARD_PICSIZE[0]}") %>" title="<%= sv_card.name %>"/>
                </td>
                <td><%= sv_card.name %></td>
                <td><%= format("%.2f", sv_card.price) if sv_card.price %></td>
                <td><%= SvCard::S_FAVOR[sv_card.types] %></td>
                <td width="15%"><%= truncate(sv_card.description, :length => 15) %></td>
                <td>
                  <% if  permission?(:market_manage , :edit_svcard)  %>
                  <a href="JavaScript:void(0)" onclick="edit_card(<%= sv_card.id %>)">编辑</a>
                  <% end %>
                  <% if  permission?(:market_manage , :del_svcard)  %>
                  <%= link_to "删除", sv_card_path(sv_card), :method => :delete, :confirm => "确定删除该优惠卡?"  %>
                  <% end %>
                </td>
              </tr>
               <% end if @sv_cards %>
            </tbody>
        </table>
          <% if !@sv_cards.blank? %>
          <%= will_paginate  @sv_cards, :class => "pageTurn", :previous_label => "上一页", :next_label=> "下一页" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
<div id="new_card_detail" class="tab_popup" style="display: none;" > <!--储值卡弹出层-->
 
</div>