<div class="box">
  <div class="data_box">
    <div class="second_menu">
      <a href="/sv_cards" class="hover">优惠卡</a>
      <a href="/sv_cards/sell_situation">销售情况</a>
      <a href="/sv_cards/use_detail">使用情况明细</a>
       <a href="/sv_cards/use_collect">使用情况汇总</a>
    </div>
    <div class="data_menu">
      <a id="new_card" href="JavaScript:void(0)" class="add_btn">新建优惠卡</a>
    </div>
    <div class="clear"></div>
    <div class="data_body">
      <div>
        <div class="card_list">
          <% if @sv_cards.blank?  %>
            <h1>当前无任何优惠卡!</h1>
          <% else %>
            <% @sv_cards.each do |sv_card| %>
              <div class="card_list_box">
                <img src=<%= sv_card.img_url %> />
                <h2><%= sv_card.name %></h2>
                <% if sv_card.types.to_i == 1 %>
                  <p>类型:储值卡</p>
                  <p>内容:价值<%= sv_card.price %>元</p>
                <% elsif sv_card.types.to_i == 0 %>
                  <p>类型:打折卡</p>
                  <p>内容:<%= sv_card.description %></p>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <div class="clear"></div>
        </div>
        <div class="pageTurn">
          <% if !@sv_cards.blank? %>
          <%= will_paginate  @sv_cards, :previous_label => "上一页", :next_label=> "下一页", :class => "pageTurn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="new_card_detail" class="tab_popup" style="display: none;"> <!--储值卡弹出层-->
  <div class="popup_box">
    <h1>新建优惠卡<a href="JavaScript:void(0)" id="cancel" class="close">关闭</a></h1>
    <%= form_tag "/sv_cards", :multipart => true do %>
    <div class="popup_body">
      <div id="popup_body_area" class="popup_body_area">
        <div class="item">
          <label>名称：</label><input id="card_name" name="card_name" type="text"/>
        </div>
        <div class="item">
          <label>类型：</label>
          <select id="card_type" name="card_type">           
            <option value="1" selected>储值卡</option>
            <option value="0">打折卡</option>
          </select>
        </div>
        <div class="item">
          <label>图片：</label>
          <input type="file" name="card_url" id="card_url" style="display:none" onchange="card_img.value=value"/>
          <input name="card_img"  id="card_img" type="text" class="file"/>
          <input type="button" class="file_btn" value="浏览" onclick="card_url.click()" />      
        </div>
        <div class="item">
            <label>折扣：</label><input id="discount_value" name="discount_value" type="text" disabled="disabled"/>
        </div>
        <div class="item_textarea">
          <label>具体内容：</label><textarea id="card_description" name="card_description"class="width_textarea"></textarea>
        </div>
        <div id="setObj" class="setObj">
          <div class="setobj_name">项目：</div>
          <div class="setobj_box">
            <div class="seto_list">
              <span>充<input id="started_money" name="started_money" type="text" class="input_s"/>元</span>&nbsp;&nbsp;
              <span>送<input id="ended_money" name="ended_money" type="text" class="input_s"/>元</span>
            </div>
          </div>
        </div>
      </div>
      <div class="btn_box">
        <button id="search_button" class="confirm_btn">确定</button>
        <button type="reset" id="cancel1" class="cancel_btn">取消</button>
        <% end %>
      </div>
    </div> 
  </div>
</div>