<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>门店后台login</title>
    <%= stylesheet_link_tag    "application", "login" %>
    <%= javascript_include_tag "application", "main", "login_validate" %>
    <!--[if IE 6]>
    <script src="js/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
      DD_belatedPNG.fix('*');
    </script>
    <![endif]-->
  </head>
  <body>
    <div class="login_bg">
      <div class="login_box">
        <%= form_tag "/logins/create", :onsubmit => "return login_validate()" do %>
        <div class="login_list">
          <%=  text_field_tag 'username' %>
        </div>
        <div class="login_list">
          <%=  password_field_tag 'password'%>
        </div>
        <div class="login_btn">
          <button>登录</button>
        </div>
        <div class="login_alert">
          <%= flash[:notice] %>
        </div>
      <% end %>        
      </div>
    </div>
    <%= render :partial => "/common/tishi_alert" %>
  </body>
</html>