<%= form_for @store, :url => store_path(@store),:html => {:multipart => true}, :method => :put do %>
  <div class="popup_box">
    <h1>编辑门店<a href="JavaScript:void(0)" class="close">关闭</a></h1>
    <div class="popup_body">
      <div class="popup_body_area">
        <div class="item">
          <label><span class="red">*</span>选择省市：</label>
          <select id="edit_store_select_province" name="edit_store_select_province" class="staff">
            <option value="0">请选择省份</option>
            <% @provinces.each do |province| %>
              <option value="<%= province.id %>" <% if @store_province && @store_province.id == province.id %>selected<% end %>><%= province.name %></option>
            <% end %>
          </select>
          <select id="edit_store_select_city" name="edit_store_select_city" class="staff">
            <option value="0">------</option>
            <% if @cities %>
            <% @cities.each do |c| %>
            <option value="<%= c.id %>" <% if @store_city && @store_city.id == c.id%>selected<% end %>><%= c.name %></option>
            <% end %>
            <% else %>
            <option value="<%= @store_city.id %>" selected><%= @store_city.name %></option>
            <% end %>
          </select>
        </div>
        <div class="item">
          <label><span class="red">*</span>门店名称：</label>
          <%= text_field_tag 'edit_store_name', @store.name %>
        </div>
        <div class="item">
          <label><span class="red">*</span>负责人：</label>
          <%= text_field_tag 'edit_store_contact', @store.contact %>
        </div>
        <div class="item">
          <label><span class="red">*</span>联系电话：</label>
          <%= text_field_tag 'edit_store_phone', @store.phone %>
        </div>
        <div class="item">
          <label><span class="red">*</span>地址：</label>
          <%= text_field_tag 'edit_store_address', @store.address %>
        </div>
        <div class="item">
          <label><span class="red">*</span>开店时间：</label>
          <%= text_field_tag 'edit_store_open_time', @store.opened_at.nil? ? "" : @store.opened_at.strftime("%Y-%m-%d"), :class => "Wdate", :readonly => true %>
        </div>
        <div class="item">
          <label>门店状态：</label>
          <select name="edit_store_status">
            <option value="2" <% if @store.status == 2%>selected<% end %>>筹备中</option>
            <option value="1" <% if @store.status == 1%>selected<% end %>>正常营业</option>
            <option value="0" <% if @store.status == 0%>selected<% end %>>已关闭</option>
          </select>
        </div>
        <div class="item">
          <label><span class="red">*</span>门店坐标：</label>
          <span>X-</span><%= text_field_tag 'edit_store_location_x', @store.position.nil? ? "" : @store.position.split(",")[0], :class => "xyAxis" %>
          <span>Y-</span><%= text_field_tag 'edit_store_location_y', @store.position.nil? ? "" : @store.position.split(",")[1], :class => "xyAxis" %>
         <a href="http://api.map.baidu.com/lbsapi/getpoint/index.html" target="_blank" class="mapIcon"><img src="assets/mapIcon.png" alt="点击打开地图查看" title="不知道门店坐标?点击此处"/></a>
        </div>
        <div class="item_textarea">
          <label><span class="red">*</span>门店照片：</label>
          <%= file_field_tag 'edit_store_img',:class => "file" %>
          <span class="show_pic"><img src="<%= @store.img_url.nil? ? "" : @store.img_url.gsub("img#{@store.id}", "img#{@store.id}_#{Constant::STORE_PICSIZE[1]}") %>"/></span>
        </div>
        <div class="item">
          <label>系统版本：</label>
          <select name="edit_store_edition_lv">
            <% Store::EDITION_LV.each do |key, value| %>
            <option value="<%= key %>" <% if @store.edition_lv.to_i==key.to_i %>selected<% end %>><%= value %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="btn_box">
        <button id="edit_store_btn" onclick="edit_store_validate(this)" type="button" class="confirm_btn">确定</button>
      </div>
    </div>
  </div>
<% end %>