<%= form_for @store, :html =>{:multipart => true } do %>
  <div class="popup_box">
    <h1>新建门店<a href="JavaScript:void(0)" class="close">关闭</a></h1>
    <div class="popup_body">
      <div class="popup_body_area">
        <div class="item">
          <label>选择省市：</label>
          <select id="new_store_select_province" name="new_store_select_province" class="staff">
            <option value="0">请选择省份</option>
            <% @provinces.each do |province| %>
              <option value="<%= province.id %>"><%= province.name %></option>
            <% end %>
          </select>
          <select id="new_store_select_city" name="new_store_select_city" class="staff">
            <option value="0">------</option>
          </select>
        </div>
        <div class="item">
          <label>门店名称：</label>
          <%= text_field_tag 'new_store_name' %>
        </div>       
        <div class="item">
          <label>负责人：</label>
          <%= text_field_tag 'new_store_contact'%>
        </div>
        <div class="item">
          <label>联系电话：</label>
          <%= text_field_tag 'new_store_phone' %>
        </div>
        <div class="item">
          <label>地址：</label>
          <%= text_field_tag 'new_store_address'%>
        </div>
        <div class="item">
          <label>开店时间：</label>
          <%= text_field_tag 'new_store_open_time',"", :class => "Wdate", :readonly => true %>
        </div>
        <div class="item">
          <label>门店状态：</label>
          <select name="new_store_status">
            <option value="2">筹备中</option>
            <option value="1">正常营业</option>
            <option value="0">已关闭</option>
          </select>
        </div>
        <div class="item">
          <label>门店坐标：</label>
          <span>X-</span><%= text_field_tag 'new_store_location_x',"", :class => "xyAxis" %>
          <span>Y-</span><%= text_field_tag 'new_store_location_y',"", :class => "xyAxis" %>
          <a href="http://api.map.baidu.com/lbsapi/getpoint/index.html" target="_blank" class="mapIcon"><img src="assets/mapIcon.png" alt="点击打开地图查看" title="不知道门店坐标?点击此处"/></a>
        </div>
        <div class="item_textarea">
          <label>门店照片：</label>
          <%= file_field_tag 'new_store_img' %>
        </div>
        <div class="item">
          <label>管理员手机号：</label>
          <%= text_field_tag 'new_store_staff_name'%>
        </div>
        <div class="item">
          <label>管理员密码：</label>
          <%= password_field_tag 'new_store_staff_password'%>
        </div>
      </div>
      <div class="btn_box">
        <button type="button" class="confirm_btn" onclick="new_store_validate(this)">确定</button>
        <button type="reset" class="cancel_btn">取消</button>
      </div>
    </div>
  </div>
<% end %>
 