      <div class="popup_box">
        <h1>门店详细<a href="JavaScript:void(0)" class="close">关闭</a></h1>
        <div class="popup_body">
          <div class="popup_body_area">
            <div class="seeProDiv">
              <div class="seeProDiv_l">省市：</div>
              <div class="seeProDiv_r">               
                  <td>
                    <%= @store.c_name.nil? ? "---" : @store.c_name %>/<%= @store.p_name.nil? ? "---" : @store.p_name %>
                  </td>
              </div>
            </div>
            <div class="seeProDiv">
              <div class="seeProDiv_l">门店名称：</div>
              <div class="seeProDiv_r"><%= @store.name.nil? ? "----" : @store.name %></div>
            </div>
            <div class="seeProDiv">
              <div class="seeProDiv_l">负责人：</div>
              <div class="seeProDiv_r"><%= @store.contact.nil? ? "----" : @store.contact %></div>
            </div>
            <div class="seeProDiv">
              <div class="seeProDiv_l">联系电话：</div>
              <div class="seeProDiv_r"><%= @store.phone.nil? ? "----" : @store.phone %></div>
            </div>
            <div class="seeProDiv">
              <div class="seeProDiv_l">地址：</div>
              <div class="seeProDiv_r"><%= @store.address.nil? ? "----" : @store.address %></div>
            </div>
            <div class="seeProDiv">
              <div class="seeProDiv_l">开店时间：</div>
              <div class="seeProDiv_r"><%= @store.opened_at.nil? ? "----" : @store.opened_at.strftime("%Y-%m-%d") %></div>
            </div>
            <div class="seeProDiv">
              <div class="seeProDiv_l">门店状态：</div>
              <div class="seeProDiv_r">
                <% if @store.status == 0 %>
                  已关闭
                <% elsif @store.status == 1 %>
                  正常营业
                <% else %>
                  正在装修
                <% end %>
              </div>
            </div>
           <div class="seeProDiv">
             <div class="seeProDiv_l">门店坐标：</div>
             <div class="seeProDiv_r">
                <%= @store.position.nil? ? "" : @store.position.split(",")[0] %>&nbsp;
                <%= @store.position.nil? ? "" : @store.position.split(",")[1] %>
             </div>
          </div>
          <div class="btn_box"><button class="cancel_btn">关闭</button></div>
        </div>
      </div>