<div class="box">
  <div class="data_box">
    <% if permission?(:operate_manage, :check_store) %>
    <div class="search">
        <div>
          <label>省/市：</label>
          <select id="select_province" name="select_province" class="select_marginRight">
            <option value="0">请选择省份</option>
            <% @provinces.each do |province| %>
              <option value="<%= province.id %>" <% if params[:select_province].to_i != 0 && params[:select_province].to_i == province.id%>selected<% end %>><%= province.name %></option>
            <% end if @provinces %>
          </select>
          <select id="select_city" name="select_city" class="select_marginRight">
            <% if params[:select_province].to_i != 0 %>
              <option value="0" <% if params[:select_city].to_i == 0 %>selected<% end %>>请选择城市</option>
              <% @cities.each do |c| %>
                <option value="<%= c.id %>" <% if params[:select_city].to_i == c.id %>selected<% end %>><%= c.name %></option>
              <% end if @cities %>
            <% else %>
              <option value="0">------</option>
            <% end %>
          </select>
        </div>
        <div>
          <label>店名：</label>
          <input type="text" id="store_name" name="store_name" <% if !params[:store_name].nil? %>value="<%= params[:store_name] %>"<% end %>></input>
        </div>
        <div>
          <button id="search_button" class="search_btn">查询</button>
        </div>
    </div>
    <% end %>
    <div class="data_menu">
     <% if permission?(:operate_manage, :new_chain) %><%= link_to "新建连锁店", "JavaScript:void(0)", :id => "new_chain_a"%><% end %>
     <% if permission?(:operate_manage, :new_store) %><%= link_to "新建门店", "JavaScript:void(0)", :id => "new_store_a"%><% end %>
    </div>
    <div class="clear"></div>
    <div class="tab_head">
      <ul>
        <li class="hover">门店列表</li>
        <li>连锁店列表</li>
      </ul>
    </div>
    <div class="data_body">
      <div id="stores_div">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
          <thead>
            <tr class="hbg">
              <td>省市</td>
              <td>门店名称</td>
              <td>负责人</td>
              <td>联系电话</td>
              <td>地址</td>
              <td>开业时间</td>
              <td>门店状态</td>
              <td>操作</td>
            </tr>
          </thead>
          <tbody>
            <% if @stores.blank? %>
              <tr>
                <th colspan="8">当前无门店!</th>
              </tr>
            <% else %>
              <% @stores.each do |store| %>
                <tr>
                  <% if !store.city_id.nil? %>
                    <td>
                      <%= store.cp_name  %>/<%= store.c_name %>
                    </td>
                  <% else %>
                    <td>--/--</td>
                  <% end %>
                <td><%= store.name.nil? ? "----" : store.name %></td>
                 <td><%= store.contact.nil? ? "----" : store.contact %></td>
                  <td><%= store.phone.nil? ? "----" : store.phone %></td>
                  <td><%= store.address.nil? ? "----" : truncate(store.address, :length => 15) %></td>
                  <td><%= store.opened_at.nil? ? "----" : store.opened_at.strftime("%Y-%m-%d")  %></td>
                  <% if store.status == 0 %>
                    <td>已关闭</td>
                  <% elsif store.status == 1 %>
                    <td>正常营业</td>
                  <% else %>
                    <td>筹备中</td>
                  <% end %>
                  <td>
                    <% if permission?(:operate_manage, :edit_store) %> <%= link_to "编辑", "JavaScript:void(0)", :name => "edit_button", :sid => store.id %><% end %>
                    <%= link_to "详细", "JavaScript:void(0)", :name => "show_button", :sid => store.id %>
                    <% if permission?(:operate_manage, :del_store) %> <%= link_to "删除", store_path(store.id), :method => :delete, :confirm => "确定要删除吗？" %><% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate  @stores, :previous_label => "上一页", :next_label=> "下一页", :class => "pageTurn" %>
      </div>
      <div id="chains_div" style="display:none">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
          <thead>
            <tr class="hbg">
              <td>连锁店名称</td>
              <td>门店名称</td>
              <td>操作</td>
            </tr>
          </thead>
          <tbody>    
            <% @group_chains.each do |key,value| %>
             <tr>
               <td><%= key %><input type="hidden" value="<%= value[0].id if value %>"/></td>
               <td>
               <table width="100%" border="0" cellspacing="1" cellpadding="0" class="s_table">
                  <% value.each do |v| %>                 
                  <% if v.s_name && v.s_status && v.s_status != Store::STATUS[:DELETED] %>
                  <tr>
                    <td><%= v.s_name %></td>
                  </tr>
                  <% end %>               
                  <% end %>
               </table>
               </td>
               <td>
                 <% if permission?(:operate_manage, :del_chain) %><a href="JavaScript:void(0)" onclick="del_chain(this)">删除</a><% end %>
                 <% if permission?(:operate_manage, :edit_chain) %><a href="JavaScript:void(0)" onclick="edit_chain(this)">编辑</a><% end %>
               </td>
            </tr>
            <% end if @group_chains %>
          </tbody>
        </table>
        <%= will_paginate  @chains, :previous_label => "上一页", :next_label=> "下一页", :class => "pageTurn" %>
      </div>
    </div>
  </div>
</div>
<div id="new_store" class="tab_popup" style="display:none;">
</div>
<div id="show_detail" class="tab_popup" style="display:none;">
</div>