<div class="box">
  <div class="data_box">

    <div class="search">
      <div><label>统计月份：</label><%= @current_time %></div>
      <%= form_tag "/revisits", :method => :get do  %>
        <div><label>时间：</label>
          <select name="search_time">
            <% @revisit_time.each do |ct| %>
              <option value="<%= ct %>" <% if !params[:search_time].nil? && params[:search_time] == ct%>selected<% end %>><%= ct %></option>
            <% end %>
          </select>
        </div>
        <div><button class="search_btn">查询</button></div>
      <% end %>
    </div>
    <div class="clear"></div>
    <div class="data_body">
      <div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
          <thead>
            <tr class="hbg">
              <td>门店名称</td>
              <td>回访时间</td>
              <td width="200">回访内容</td>
              <td width="200">客户回答</td>
              <td>是否投诉</td>
              <td>客户姓名</td>
              <td>手机号码</td>
              <td>相关订单</td>
            </tr>
          </thead>
          <tbody>
            <% if @revisits.blank? %>
              <tr>
                <th colspan="8">无数据!</th>
              </tr>
            <% else %>
              <%  @revisits.each do |r|%>
                <tr>
                  <td><%= r.store_name || "----" %></td>
                  <td><%= r.created_at.nil? ? "----" : r.created_at.strftime("%Y-%m-%d %H:%M") %></td>
                  <td><%= r.content ||= "----" %></td>
                  <td><%= r.answer ||= "----"%></td>
                  <td>
                    <% if !r.complaint_id.nil? %>
                      是
                    <% else %>
                      否
                    <% end %>
                  </td>
                  <td><%= r.cus_name ||= "----" %></td>
                  <td><%= r.cus_phone ||= "----"%></td>
                  <td>
                    <input type="hidden" value="<%= r.order_id.nil? ? "" : r.order_id %>"/>
                    <% if r.order_code %>
                      <a href="JavaScript:void(0)" name="order_detail" class="other_a"><%= r.order_code %></a>
                    <% else %>
                      ----
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <div class="pageTurn">
          <% if !@revisits.blank? %>
            <%= will_paginate   @revisits, :previous_label => "上一页", :next_label=> "下一页", :class => "pageTurn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>