<%= javascript_include_tag "/assets/kindEditor/kindeditor-min.js" %>
<%= javascript_include_tag "/assets/kindEditor/zh_CN.js" %>
<div class="box">
  <div class="data_box">
    <div class="data_menu">
      <% if permission?(:base_datas, :add_news) %><a id="create_news" href="/news/new">新建新闻</a><% end %>
    </div>
    <div class="clear"></div>
    <div id="news_show"class="data_body">
      <div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
          <thead>
            <tr class="hbg">
              <td>标题</td>
              <td>创建时间</td>
              <td>状态</td>
              <td>操作</td>
            </tr>
          </thead>
          <tbody>
            <% if @news.blank? %>
              <tr>
                <th colspan="3">当前无新闻!</th>
              </tr>
            <%  else %>
              <% @news.each do |new| %>
                <tr>
                  <td>
                    <% if new.status == 0 %>
                    <a href="<%= Constant::FRONT_PATH %>news/<%= new.id %>" class="other_a" target="_blank"><%= new.title %></a>
                    <% else %>
                    <a class="no_a"><%= new.title ||= "----" %></a>
                    <% end %>
                  </td>
                  <td><%= new.created_at.nil? ? "----" : new.created_at.strftime("%Y-%m-%d") %></td>
                  <td>
                    <%= new.status == 0 ? "已发布" : "未发布" %>
                  </td>
                  <td>
                    <% if new.status == 1 %>
                    <a name="rel_new" href="JavaScript:void(0)">发布</a>
                    <%end%>
                    <input type="hidden" value="<%= new.id %>"/>
                    <% if permission?(:base_datas, :edit_news) %><a name="edit_new" href="JavaScript:void(0)">修改</a><% end %>
                    <% if permission?(:base_datas, :del_news) %><a name="del_new" href="JavaScript:void(0)">删除</a><% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <div class="pageTurn">
          <% if !@news.blank? %>
            <%= will_paginate  @news, :previous_label => "上一页", :next_label=> "下一页", :class => "pageTurn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>