<div class="box">
  <div class="data_box">
    <% if permission?(:base_datas, :role_conf) || permission?(:base_datas, :role_set) %>
      <div class="second_menu">
        <% if permission?(:base_datas, :role_conf) %><a href="/authorities">权限配置</a><% end %>
        <% if permission?(:base_datas, :role_set) %><a href="/authorities/set_staff" class="hover">用户设定</a><% end %>
      </div>
    <% end %>
    <div class="search">
      <%= form_tag "/authorities/set_staff", :method => :get do %>
        <div><label>姓名：</label>
          <input name="staff_name" type="text" <% if !params[:staff_name].nil? && !params[:staff_name].strip.empty? %>value="<%= params[:staff_name].strip %>"<% end %>/>
        </div>
        <div><button class="search_btn">查询</button></div>
      <% end %>
      <%= link_to "新增员工", new_staff_path, :remote => true, 'data-type' => 'script', :class => "search_btn"%>
    </div>
    <div class="clear"></div>
    <div class="data_body">
      <div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
          <thead>
            <tr class="hbg">
              <td>姓名</td>
              <td>职务</td>
              <td>操作</td>
            </tr>
          </thead>
          <tbody>
            <% @staff.each do |staff| %>
              <tr>
                <td>
                    <%= staff.name %>
                  
                </td>
                <td>
                  <%= staff.roles.map(&:name).join("、")%>
                </td>
                <td>
                  <input type="hidden" value="<%= staff.id %>"/>
                  <% if permission?(:base_datas, :role_role_set) %><a name="set_staff_role" href="JavaScript:void(0)">角色设定</a><% end %>
                </td>
              </tr>
            <% end if !@staff.blank? %>
          </tbody>
        </table>
        <div class="pageTurn">
          <%= will_paginate  @staff, :previous_label => "上一页", :next_label=> "下一页", :class => "pageTurn" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="set_staff_role" class="tab_popup" style="display: none;">
</div>
<div id="edit_staff_area" class="tab_popup" style="display:none;">

</div>
