<script>
  $(document).ready(function(){
   $("#mat_in_tab_table").tablesorter({
        headers:
        {
            0: {
                sorter: false
            },
            3: {
                sorter: false
            },
            4: {
                sorter: false
            },
            5: {
                sorter: false
            }
        }
    });
    //after sort
        $("#mat_in_tab_table").bind("sortEnd",function() {
            $("#mat_in_tab_table tbody").find('tr').each(function(i){
            if(i%2==0){
              $(this).removeClass('tbg');
            }else{
              $(this).addClass('tbg');
            }
            })
         });
  });
</script>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table" id="mat_in_tab_table">
  <thead>
    <tr class="hbg">
              <th style="width:200px">条形码</th>
              <th style="width:200px"><span class="sort_u" onclick="sort_change(this)">物料名称</span></th>
              <th style="width:150px"><span class="sort_d" onclick="sort_change(this)">物料类别</span></th>
              <th style="width:150px">入库量</th>
              <th style="width:150px">操作人</th>
              <th style="width:150px">入库时间</th>
            </tr>
  </thead>
  <tbody>
    <% @mat_in_orders.each do |mio| %>
      <tr>
        <td><%= mio.material.nil? || mio.material.code.nil? ? "----" : mio.material.code %></td>
        <td><%= mio.material.nil? || mio.material.name.nil? ? "----" : mio.material.name %></td>
        <td><% Material::TYPES_NAMES.each do |key, value| %><% if key == mio.material.types %><%= value %><% end %><% end %></td>
        <td><%= mio.material_num ||= "----" %></td>
        <td>
            <% if mio.staff && mio.staff.name %>
              <%= mio.staff.name %>
            <% else %>
              ----
            <% end %>
          </td>
        <td><%= mio.created_at.nil? ? "----" : mio.created_at.strftime("%Y-%m-%d")  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pageTurn">
  <% if !@mat_in_orders.blank? %>
    <%= will_paginate  @mat_in_orders, :previous_label => "上一页", :next_label=> "下一页", :class => "pageTurn" %>
  <% end %>
</div>