<table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table" id="mat_orders_tab_table">
  <thead>
     <tr class="hbg">
              <th style="width:150px">订货单号</th>
              <th style="width:160px">详细内容</th>
              <th style="width:110px">门店名称</th>
              <th style="width:80px">总价</th>
              <th style="width:80px">订货时间</th>
              <th style="width:90px">预计到货时间</th>
              <th style="width:80px">物流状态</th>
              <th style="width:90px">物流信息</th>
              <th style="width:80px">付款状态</th>
              <th style="width:100px">操作</th>
            </tr>
  </thead>
  <tbody>
    <% @mat_orders.each do |mo| %>
      <tr>
        <td><%= mo.code %></td>
        <td>
          <table width="100%" border="0" cellspacing="1" cellpadding="0" class="s_table">
            <tr class="fws">
              <td>名称</td>
              <td>单价</td>
              <td>数量</td>
            </tr>
            <% if mo.mat_order_items.blank? %>
                <tr>
                  <td colspan="3">------</td>
                </tr>
              <% else %>
                <% mo.mat_order_items.each do |moi| %>
                  <tr>
                    <td><%= moi.material.name ||= "----" %></td>
                    <td><%= moi.price ||= "----" %></td>
                    <td><%= moi.material_num ||= "----"%></td>
                  </tr>
                <% end %>
              <% end %>
          </table>
        </td>
        <td><%= mo.store.nil? || mo.store.name.nil? ? "------" : mo.store.name %></td>
        <td> <%= mo.price ||= "------"%></td>
        <td><%= mo.created_at.nil? ? "----" : mo.created_at.strftime("%Y-%m-%d") %></td>
        <td id="arrival_at<%= mo.id %>">
            <%= mo.arrival_at.nil? ? "----" : mo.arrival_at.strftime("%Y-%m-%d")   %>
        </td>
        <td id="mo_status<%= mo.id %>">
          <% if mo.m_status.nil? %>
          未知
          <% else %>
          <% MaterialOrder::M_STATUS.each do |key, value| %>
            <% if mo.m_status == key %>
              <%= value %>
            <% end %>
          <% end %>
          <% end %>
        </td>
        <td id="logi_info<%= mo.id %>">
          物流单号:<%= mo.logistics_code ||= "-----" %><br/>承运人：<%= mo.carrier ||= "-----" %>
        </td>
        <td>
          <% if mo.status.nil? %>
          未知
          <% else %>
          <% MaterialOrder::STATUS.each do |key, value| %>
            <% if mo.status == key %>
              <%= value %>
            <% end %>
          <% end %>
          <% end %>
        </td>
        <td>
          <input type="hidden" value="<%= mo.id %>"/>
          <a name="mat_order_detail" href="JavaScript:void(0)">详情</a>
          <a name="mat_order_beizhu" href="JavaScript:void(0)">备注</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pageTurn">
  <% if !@mat_orders.blank? %>
    <%= will_paginate  @mat_orders, :previous_label => "上一页", :next_label=> "下一页", :class => "pageTurn" %>
  <% end %>
</div>