<script>
  $(document).ready(function(){
    $("#materials_tab_table").tablesorter({
        headers:
        {
            0: {
                sorter: false
            },
            3: {
                sorter: false
            },
            4: {
                sorter: false
            },
            5: {
                sorter: false
            },
            6: {
                sorter: false
            },
            7: {
                sorter: false
            }
        }
    });
    });
</script>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table" id="materials_tab_table">
  <thead>
    <tr class="hbg">
      <th style="width:150px">条形码</th>
      <th style="width:150px"><span class="sort_u">物料名称</span></th>
      <th style="width:150px"><span class="sort_d">物料类别</span></th>
      <th style="width:100px">库存状态</th>
      <th style="width:100px">库存量（个）</th>
      <th style="width:150px">成本价（元）</th>
      <th style="width:100px">盘点实数</th>
      <th style="width:100px">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td id="<%=material.id%>storage"<% if material.storage.to_i <= 0 %>class="data_table_error"<% end %>><%= material.code ||= "----" %></td>
        <td><%= material.name ||= "----" %></td>
        <td><% Material::TYPES_NAMES.each do |key, value| %><% if key == material.types %><%= value %><% end %><% end %></td>
        <td id="<%=material.id %>status"><%if material.storage.to_i >= 0 %>存货<% else %>缺货<% end %></td>
        <td class="mat_stor"><%= material.storage ||= "----" %></td>
        <td><%= material.price ||= "----" %></td>
        <td><input type="text" style="width:50px"/></td>
        <td>
         <input name="material_count" type="hidden" value="<%= material.id %>"/>
         <a name="material_beizhu" href="JavaScript:void(0)" class="bz_btn">备注</a>
         <a name="material_check" href="JavaScript:void(0)">核实</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <% if !@materials.blank? %>
    <%= will_paginate  @materials, :previous_label => "上一页", :next_label=> "下一页", :class => "pageTurn" %>
  <% end %>