<script>
  $(document).ready(function(){
   $("#mat_out_tab_table").tablesorter({
        headers:
        {
            0: {
                sorter: false
            },
            1: {
                sorter: false
            },
            4: {
                sorter: false
            }
        }
    });
     });
</script>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table" id="mat_out_tab_table">
  <thead>
    <tr class="hbg">
      <th>订货单号</th>
      <th>条形码</th>
      <th><span class="sort_u">物料名称</span></th>
      <th><span class="sort_d">物料类别</span></th>
      <th>库存量（个）</th>
    </tr>
  </thead>
  <tbody>
    <% @mat_out_orders.each do |moo| %>
      <tr>
        <td><%= moo.material_order.code %></td>
        <td><%= moo.material.code %></td>
        <td><%= moo.material.name %></td>
        <td><% Material::TYPES_NAMES.each do |key, value| %><% if key == moo.material.types %><%= value %><% end %><% end %></td>
        <td><%= moo.material.storage %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pageTurn">
  <% if !@mat_out_orders.blank? %>
    <%= will_paginate  @mat_out_orders, :previous_label => "上一页", :next_label=> "下一页", :class => "pageTurn" %>
  <% end %>
</div>