<script>
  $(document).ready(function(){
   $("#mat_out_tab_table").tablesorter({
        headers:
        {
            0: {
                sorter: false
            },
            1: {
                sorter: false
            },
            4: {
                sorter: false
            }
        }
    });
     //after sort
        $("#mat_out_tab_table").bind("sortEnd",function() {
            $("#mat_out_tab_table tbody").find('tr').each(function(i){
            if(i%2==0){
              $(this).removeClass('tbg');
            }else{
              $(this).addClass('tbg');
            }
            })
         });
     });
</script>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table" id="mat_out_tab_table">
  <thead>
    <tr class="hbg">
      <th style="width:300px">订货单号</th>
      <th style="width:200px">条形码</th>
      <th style="width:200px"><span class="sort_u">物料名称</span></th>
      <th style="width:150px"><span class="sort_d">物料类别</span></th>
      <th style="width:150px">库存量（个）</th>
    </tr>
  </thead>
  <tbody>
    <% @mat_out_orders.each do |moo| %>
      <tr>
        <td>
            <input type="hidden" value="<%= moo.material_order.nil? ? "" : moo.material_order.id %>"/>
             <a href="JavaScript:void(0)" name="mat_order_detail" class="other_a"><%= moo.material_order.nil? || moo.material_order.code.nil? ? "----" : moo.material_order.code %></a>
        </td>
        <td><%= moo.material.nil? || moo.material.code.nil? ? "----" : moo.material.code %></td>
        <td><%= moo.material.nil? || moo.material.name.nil? ? "----" : moo.material.name %></td>
        <td><% Material::TYPES_NAMES.each do |key, value| %><% if key == moo.material.types %><%= value %><% end %><% end %></td>
        <td><%= moo.material.nil? || moo.material.storage.nil? ? "----" : moo.material.storage %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pageTurn">
  <% if !@mat_out_orders.blank? %>
    <%= will_paginate  @mat_out_orders, :previous_label => "上一页", :next_label=> "下一页", :class => "pageTurn" %>
  <% end %>
</div>