<div class="popup_box">
  <h1>订单详情<a name="order_detail_cancel_x" href="JavaScript:void(0)" class="close">关闭</a></h1>
  <div class="popup_body">
    <div id="order_detail_and_deliver" class="popup_body_area">
      <div class="seeProDiv">
        <div class="seeProDiv_l">订单编码：</div>
        <div class="seeProDiv_r"><%= @mo.code ||= "------" %></div>
      </div>
      <div class="seeProDiv">
        <div class="seeProDiv_l">门店名称：</div>
        <div class="seeProDiv_r"><%= @mo.store.nil? ? "----" : @mo.store.name %></div>
      </div>
      <div class="seeProDiv">
        <div class="seeProDiv_l">到货时间：</div>
        <div class="seeProDiv_r"><%= @mo.arrival_at.nil? ? "------" : @mo.arrival_at.strftime("%Y-%m-%d") %></div>
      </div>
      <div class="seeProDiv">
        <div class="seeProDiv_l">物流状态：</div>
        <div class="seeProDiv_r">
          <% if @mo.m_status.nil? %>
          未知
          <% else %>
           <% MaterialOrder::M_STATUS.each do |key, value| %>
                 <% if @mo.m_status == key %>
                  <%= value %>
                 <% end %>
                <% end %>
          <% end %>
        </div>
      </div>
      <div class="seeProDiv">
        <div class="seeProDiv_l">物流信息：</div>
        <div class="seeProDiv_r">物流单号:<%= @mo.logistics_code ||= "------" %><br/>承运人：<%= @mo.carrier ||= "------" %></div>
      </div>
      <div class="seeProDiv">
        <div class="seeProDiv_l">付款状态: </div>
        <div class="seeProDiv_r">
          <%if @mo.status.nil?%>
          未知
          <% else %>
            <% MaterialOrder::STATUS.each do |key, value| %>
          <% if @mo.status == key %>
          <%= value %>
          <% end %>
          <% end %>
          <% end %>
        </div>
      </div>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_tab_table">
        <thead>
          <tr class="hbg">
            <td>名称</td>
            <td>单价（元）</td>
            <td>数量（个）</td>
          </tr>
        </thead>
        <tbody>
          <% if @mo.mat_order_items.blank? %>
          <tr>
            <td colspan="3">无！</td>
          </tr>
          <% else %>
          <% @mo.mat_order_items.each do |moi| %>
            <tr>
              <td><%= moi.material.name %></td>
              <td><%= moi.price %></td>
              <td><%= moi.material_num %></td>
            </tr>
          <% end %>
            <% end %>
        </tbody>
      </table>
      <% unless @mo.sale_id.blank? %>
  <h2>活动：</h2>
   <% sale = Sale.find @mo.sale_id %>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_tab_table">
    <thead>
      <tr class="hbg">
        <td>名称</td>
        <td>描述</td>
        <td>总部补贴</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= sale.name %></td>
        <td><%= sale.introduction %></td>
        <td><%= sale.sub_content %></td>
      </tr>
    </tbody>
  </table>
  <% end %>
   <div class="otherWay">
    <div class="amount">总计：<%= @total_money %></div>
    <div class="amount">储值卡抵用：<%= @mo.svc_use_price %></div>
    <div class="amount">活动优惠：<%= @mo.sale_price %></div>
    <div class="amount">合计：<%= @mo.price %></div>
  </div>
    </div>
    <div id="order_detail_btn_box" class="btn_box">
      <input type="hidden" value="<%= @mo.id %>"/>
      <% if @mo.status == 0 %>
      <button id="urge_payment" class="confirm_btn">催款</button>
      <% end %>
      <% if @mo.m_status == 0 %>
      <button id="deliver_good" class="confirm_btn">发货</button>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>
</div>
