<div class="box">
  <% unless @mat_orders_urgent.blank? %>
    有 <span class="red"><%= @mat_orders_urgent.length %></span> 条催款订单，请您及时与总部联系
    <a href="javascript:void(0);" onclick="toggle_notice(this)">点击查看</a>
    <%= render :partial => 'mat_order_notice', :locals => {:mo_notices => @mat_orders_urgent} %>
  <% end %>
  <div class="data_box">
    <div class="data_menu">
      <% if permission?(:logistics_manage, :storage) %><a id="ruku_a" href="JavaScript:void(0)">入库</a><% end %>
      <% if permission?(:logistics_manage, :print_list) %><a href="/materials/m_list" target="_blank">打印库存清单</a><% end %>
    </div>
    <div class="clear"></div>
    <div class="tab_head">
      <ul>
        <li class="<%= @init_tab.nil? ? "hover" : "" %>">库存列表</li>
        <% if permission?(:logistics_manage, :out_record) %><li>出库记录</li><% end %>
        <% if permission?(:logistics_manage, :in_record) %><li>入库记录</li><% end %>
        <li class="<%= @init_tab.nil? ? "" : "hover" %>">门店订货记录</li>
      </ul>
    </div>
    <div id="table_show" class="data_body">
      <div id="materials_tab" style="<%= @init_tab.nil? ? "display:block" : "display:none" %>">    <!--库存列表-->
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table" id="materials_tab_table">
          <thead>
            <tr class="hbg">
              <th>条形码</th>
              <th><span class="sort_u">物料名称</span></th>
              <th><span class="sort_d">物料类别</span></th>
              <th>库存状态</th>
              <th>库存量（个）</th>
              <th>成本价（元）</th>
              <th>盘点实数</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% @materials.each do |material| %>
              <tr>
                <td id="<%=material.id%>storage"<% if material.storage.to_i <= 0 %>class="data_table_error"<% end %>><%= material.code.nil? ? "----" : material.code %></td>
                <td><%= material.name.nil? ? "------" : material.name%></td>
                <td><% Material::TYPES_NAMES.each do |key, value| %><% if key == material.types %><%= value %><% end %><% end %></td>
                <td id="<%=material.id %>status"><%if material.storage.to_i > 0 %>存货<% else %>缺货<% end %></td>
                <td class="mat_stor"><%= material.storage.nil? ? "----" : material.storage %></td>
                <td><%= material.price.nil? ? "----" : material.price %></td>
                <td><input type="text" style="width:50px"/></td>
                <td>
                  <input type="hidden" value="<%= material.id %>"/>
                  <a name="material_beizhu" href="JavaScript:void(0)" class="bz_btn">备注</a>
                  <a name="material_check" href="JavaScript:void(0)">核实</a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="pageTurn">
          <% if !@materials.blank? %>
            <%= will_paginate  @materials, :previous_label => "上一页", :next_label=> "下一页", :class => "pageTurn" %>
          <% end %>
        </div>
      </div>

      <div id="mat_out_tab" style="display:none">  <!--出库记录-->
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table" id="mat_out_tab_table">
          <thead>
            <tr class="hbg">
              <th>订货单号</th>
              <th>条形码</th>
              <th><span class="sort_u">物料名称</span></th>
              <th><span class="sort_d">物料类别</span></th>
              <th>库存量（个）</th>
            </tr>
          </thead>
          <tbody>
            <% @mat_out_orders.each do |moo| %>
            <tr>
              <td>
                <input type="hidden" value="<%= moo.material_order.nil? ? "" : moo.material_order.id %>"/>
                <a href="JavaScript:void(0)" name="mat_order_detail" class="other_a"><%= moo.material_order.nil? ? "------" : moo.material_order.code %></a>
              </td>
              <td><%= moo.material.nil? || moo.material.code.nil? ? "----" : moo.material.code %></td>
              <td><%= moo.material.nil? || moo.material.name.nil? ? "----" : moo.material.name %></td>
              <td><% Material::TYPES_NAMES.each do |key, value| %><% if key == moo.material.types %><%= value %><% end %><% end %></td>
              <td><%= moo.material.nil? || moo.material.storage.nil? ? "----" : moo.material.storage %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="pageTurn">
           <% if !@mat_out_orders.blank? %>
            <%= will_paginate  @mat_out_orders, :previous_label => "上一页", :next_label=> "下一页", :class => "pageTurn" %>
          <% end %>
        </div>
      </div>

      <div id="mat_in_tab" style="display:none"> <!--入库记录-->
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table" id="mat_in_tab_table">
          <thead>
            <tr class="hbg">
              <th>条形码</th>
              <th><span class="sort_u">物料名称</span></th>
              <th><span class="sort_d">物料类别</span></th>
              <th>入库量</th>
              <th>操作人</th>
              <th>入库时间</th>
            </tr>
          </thead>
          <tbody>
            <% @mat_in_orders.each do |mio| %>
            <tr>
              <td><%= mio.material.nil? || mio.material.code.nil? ? "----" : mio.material.code %></td>
              <td><%= mio.material.nil? || mio.material.name.nil? ? "----" : mio.material.name %></td>
              <td><% Material::TYPES_NAMES.each do |key, value| %><% if key == mio.material.types %><%= value %><% end %><% end %></td>
              <td><%= mio.material_num.nil? ? "----" : mio.material_num %></td>
              <td>
                <% if mio.staff && mio.staff.name %>
                <%= mio.staff.name %>
                <% else %>
                ----
                <% end %>
              </td>
              <td><%= mio.created_at.nil? ? "----" : mio.created_at.strftime("%Y-%m-%d")  %></td>
            </tr>
           <% end %>
          </tbody>
        </table>
        <div class="pageTurn">
          <% if !@mat_in_orders.blank? %>
            <%= will_paginate  @mat_in_orders, :previous_label => "上一页", :next_label=> "下一页", :class => "pageTurn" %>
          <% end %>
        </div>
      </div>

      <div style="<%= @init_tab.nil? ? "display:none" : "display:block" %>"> <!--门店订货记录-->
        <div class="search">
          <div><label>状态：</label>
            <select id="select_mo_status" name="select_mo_status">
              <option value="999">全部</option>
              <% MaterialOrder::STATUS.each do |key, value| %>
              <option value="<%= key %>"><%= value %></option>
              <% end %>
            </select>
          </div>
          <div><label>时间：</label>
            <input name="started_time" type="text" id="started_time" class="Wdate" readonly/> 到
            <input name="ended_time" type="text" id="ended_time" class="Wdate" readonly/>
          </div>
          <div><button id="mo_search_button" class="search_btn">查询</button></div>
        </div>
        <div id="mat_orders_tab">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
          <thead>
            <tr class="hbg">
              <td>订货单号</td>
              <td>详细内容</td>
              <td>门店名称</td>
              <td>总价</td>
              <td>订货时间</td>
              <td>预计到货时间</td>
              <td>物流状态</td>
              <td>物流信息</td>
              <td>付款状态</td>
              <td>操作</td>
            </tr>
          </thead>
          <tbody>
            <% @mat_orders.each do |mo| %>
            <tr>
              <td><%= mo.code %></td>
              <td>
                <table width="100%" border="0" cellspacing="1" cellpadding="0" class="s_table">
                  <tr class="fws">
                    <td>名称</td>
                    <td>单价</td>
                    <td>数量</td>
                  </tr>
                  <% if mo.mat_order_items.blank? %>
                  <tr>
                    <td colspan="3">------</td>
                  </tr>
                  <% else %>
                  <% mo.mat_order_items.each do |moi| %>
                  <tr>
                    <td><%= moi.material.nil? || moi.material.name.nil? ? "----" : moi.material.try(:name) %></td>
                    <td><%= moi.price.nil? ? "----" : moi.price %></td>
                    <td><%= moi.material_num.nil? ? "----" : moi.material_num %></td>
                  </tr>
                  <% end %>
                  <% end %>
                </table>
              </td>
              <td>               
                <%= mo.store.nil? || mo.store.name.nil? ? "------" : mo.store.name %>
              </td>
              <td>             
                <%= mo.price ||= "------"%>
              </td>
              <td><%= mo.created_at.nil? ? "----" : mo.created_at.strftime("%Y-%m-%d") %></td>
              <td id="arrival_at<%= mo.id %>">
                <%= mo.arrival_at.nil? ? "------" : mo.arrival_at.strftime("%Y-%m-%d")   %>
              </td>
              <td id="mo_status<%= mo.id %>">
                <% if mo.m_status.nil? %>
                未知
                <% else %>
                <% MaterialOrder::M_STATUS.each do |key, value| %>
                 <% if mo.m_status == key %>
                  <%= value %>
                 <% end %>
                <% end %>
                <% end %>
              </td>
              <td id="logi_info<%= mo.id %>">物流单号:<%= mo.logistics_code ||= "-----" %><br/>承运人：<%= mo.carrier ||= "-----" %></td>
              <td>
                <% if mo.status.nil? %>
                未知
                <% else %>
                  <% MaterialOrder::STATUS.each do |key, value| %>
                    <% if mo.status == key %>
                      <%= value %>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <input type="hidden" value="<%= mo.id %>"/>
                <a name="mat_order_detail" href="JavaScript:void(0)">详情</a>
                <a name="mat_order_beizhu" href="JavaScript:void(0)">备注</a>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="pageTurn">
          <% if !@mat_orders.blank? %>
            <%= will_paginate  @mat_orders, :previous_label => "上一页", :next_label=> "下一页", :class => "pageTurn" %>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="beizhu_area" class="tab_popup beizhu_tab">    <!--备注-->
</div>
<div id="order_detail" class="tab_popup" style="display: none;"> <!--订单详情-->
</div>
<div id="ruku" class="tab_popup" style="display: none;"> <!--入库-->
    <div class="popup_box">
      <h1>入库<a id="ruku_cancel_x" href="JavaScript:void(0)" class="close">关闭</a></h1>
      <div class="popup_body">
        <div class="popup_body_area">
          <div class="item">
            <label>物料名称：</label><input id="m_name" name="m_name" type="text"/>
          </div>
          <div class="item">
            <label>物料类别：</label><select id="m_type" name="m_type">
              <% Material::TYPES_NAMES.each do |key, value| %>
                <option value="<%= key %>"><%= value %></option>
              <% end %>
            </select>
          </div>
          <div class="item">
            <label>条形码：</label><input id="m_code" name="m_code" type="text"/>
          </div>
          <div class="item">
            <label>单价：</label><input id="m_price" name="m_price" type="text"/>
          </div>
          <div class="item">
            <label>数量：</label><input id="m_num" name="m_num" type="text"/>
          </div>
        </div>
        <div class="btn_box">
          <button id="ruku_btn" class="confirm_btn">确定</button>
        </div>
        <div class="clear"></div>
      </div>
    </div>
</div>