<div class="box">
  <div class="data_box">
    <div class="data_menu">
      <a id="ruku_a" href="JavaScript:void(0)">入库</a>
      <a href="/materials/m_list" target="_blank">打印库存清单</a>
    </div>
    <div class="clear"></div>
    <div class="tab_head">
      <ul>
        <li class="hover">库存列表</li>
        <li>出库记录</li>
        <li>入库记录</li>
        <li>门店订货记录</li>
      </ul>
    </div>
    <div id="table_show" class="data_body">
      <div id="materials_tab">    <!--库存列表-->
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
          <thead>
            <tr class="hbg">
              <td>条形码</td>
              <td><span class="sort_u">物料名称</span></td>
              <td><span class="sort_d">物料类别</span></td>
              <td>库存状态</td>
              <td>库存量（个）</td>
              <td>成本价（元）</td>
              <td>盘点实数</td>
              <td>操作</td>
            </tr>
          </thead>
          <tbody>
            <% @materials.each do |material| %>
              <tr>
                <td <% if material.storage <= 0 %>class="data_table_error"<% end %>><%= material.code %></td>
                <td><%= material.name %></td>
                <td><% Material::TYPES_NAMES.each do |key, value| %><% if key == material.types %><%= value %><% end %><% end %></td>
                <td>存货</td>
                <td><%= material.storage %></td>
                <td><%= material.price %></td>
                <td><input type="text" value="<%= material.storage %>" style="width:50px"/></td>
                <td>
                  <input type="hidden" value="<%= material.id %>"/>
                  <a name="material_beizhu" href="JavaScript:void(0)" class="bz_btn">备注</a>
                  <a name="material_check" href="JavaScript:void(0)">已核实</a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="pageTurn">
          <% if !@materials.blank? %>
            <%= will_paginate  @materials, :previous_label => "上一页", :next_label=> "下一页", :class => "pageTurn" %>
          <% end %>
        </div>
      </div>

      <div id="mat_out_tab" style="display:none;">  <!--出库记录-->
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
          <thead>
            <tr class="hbg">
              <td>订货单号</td>
              <td>条形码</td>
              <td><span class="sort_u">物料名称</span></td>
              <td><span class="sort_d">物料类别</span></td>
              <td>库存量（个）</td>
            </tr>
          </thead>
          <tbody>
            <% @mat_out_orders.each do |moo| %>
            <tr>
              <td><%= moo.material_order.code %></td>
              <td><%= moo.material.code %></td>
              <td><%= moo.material.name %></td>
              <td><% Material::TYPES_NAMES.each do |key, value| %><% if key == moo.material.types %><%= value %><% end %><% end %></td>
              <td><%= moo.material.storage %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="pageTurn">
           <% if !@mat_out_orders.blank? %>
            <%= will_paginate  @mat_out_orders, :previous_label => "上一页", :next_label=> "下一页", :class => "pageTurn" %>
          <% end %>
        </div>
      </div>

      <div id="mat_in_tab" style="display:none;"> <!--入库记录-->
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
          <thead>
            <tr class="hbg">
              <td>条形码</td>
              <td><span class="sort_u">物料名称</span></td>
              <td><span class="sort_d">物料类别</span></td>
              <td>入库量</td>
              <td>操作人</td>
              <td>入库时间</td>
            </tr>
          </thead>
          <tbody>
            <% @mat_in_orders.each do |mio| %>
            <tr>
              <td><%= mio.material.code %></td>
              <td><%= mio.material.name %></td>
              <td><% Material::TYPES_NAMES.each do |key, value| %><% if key == mio.material.types %><%= value %><% end %><% end %></td>
              <td><%= mio.material_num %></td>
              <td>
                <% if mio.staff %>
                <%= mio.staff.name %>
                <% else %>
                ----
                <% end %>
              </td>
              <td><%= mio.created_at.strftime("%Y-%m-%d")  %></td>
            </tr>
           <% end %>
          </tbody>
        </table>
        <div class="pageTurn">
          <% if !@mat_in_orders.blank? %>
            <%= will_paginate  @mat_in_orders, :previous_label => "上一页", :next_label=> "下一页", :class => "pageTurn" %>
          <% end %>
        </div>
      </div>

      <div style="display:none;"> <!--门店订货记录-->
        <div class="search">
          <div><label>状态：</label>
            <select id="select_mo_status" name="select_mo_status">
              <option value="999">全部</option>
              <% MaterialOrder::STATUS.each do |key, value| %>
              <option value="<%= key %>"><%= value %></option>
              <% end %>
            </select>
          </div>
          <div><label>时间：</label>
            <input name="started_time" type="text" id="started_time"/> 到
            <input name="ended_time" type="text" id="ended_time"/>
          </div>
          <div><button id="mo_search_button" class="search_btn">查询</button></div>
        </div>
        <div id="mat_orders_tab">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
          <thead>
            <tr class="hbg">
              <td>订货单号</td>
              <td>详细内容</td>
              <td>门店名称</td>
              <td>总价</td>
              <td>订货时间</td>
              <td>预计到货时间</td>
              <td>物流状态</td>
              <td>物流信息</td>
              <td>付款状态</td>
              <td>操作</td>
            </tr>
          </thead>
          <tbody>
            <% @mat_orders.each do |mo| %>
            <tr>
              <td><%= mo.code %></td>
              <td>
                <table width="100%" border="0" cellspacing="1" cellpadding="0" class="s_table">
                  <tr class="fws">
                    <td>名称</td>
                    <td>单价</td>
                    <td>数量</td>
                  </tr>
                  <% if mo.mat_order_items.blank? %>
                  <tr>
                    <td colspan="3">------</td>
                  </tr>
                  <% else %>
                  <% mo.mat_order_items.each do |moi| %>
                  <tr>
                    <td><%= moi.material.name %></td>
                    <td><%= moi.price %></td>
                    <td><%= moi.material_num %></td>
                  </tr>
                  <% end %>
                  <% end %>
                </table>
              </td>
              <td>               
                <%= mo.store.nil? ? "------" : mo.store.name %>
              </td>
              <td>             
                <%= mo.price ||= "------"%>
              </td>
              <td><%= mo.created_at.strftime("%Y-%m-%d") %></td>
              <td id="arrival_at<%= mo.id %>">
                <%= mo.arrival_at.nil? ? "------" : mo.arrival_at.strftime("%Y-%m-%d")   %>
              </td>
              <td id="mo_status<%= mo.id %>">
                <% if mo.m_status.nil? %>
                未知
                <% else %>
                <% MaterialOrder::M_STATUS.each do |key, value| %>
                 <% if mo.m_status == key %>
                  <%= value %>
                 <% end %>
                <% end %>
                <% end %>
              </td>
              <td id="logi_info<%= mo.id %>">物流单号:<%= mo.logistics_code ||= "-----" %><br/>承运人：<%= mo.carrier ||= "-----" %></td>
              <td>
                <% if mo.status.nil? %>
                未知
                <% else %>
                  <% MaterialOrder::STATUS.each do |key, value| %>
                    <% if mo.status == key %>
                      <%= value %>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <input type="hidden" value="<%= mo.id %>"/>
                <a name="mat_order_detail" href="JavaScript:void(0)">详情</a>
                <a name="mat_order_beizhu" href="JavaScript:void(0)">备注</a>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="pageTurn">
          <% if !@mat_orders.blank? %>
            <%= will_paginate  @mat_orders, :previous_label => "上一页", :next_label=> "下一页", :class => "pageTurn" %>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="beizhu_area" class="tab_popup beizhu_tab">    <!--备注-->
</div>
<div id="order_detail" class="tab_popup" style="display: none;"> <!--订单详情-->
</div>
<div id="ruku" class="tab_popup" style="display: none;"> <!--入库-->
    <div class="popup_box">
      <h1>入库<a id="ruku_cancel_x" href="JavaScript:void(0)" class="close">关闭</a></h1>
      <div class="popup_body">
        <div class="popup_body_area">
          <div class="item">
            <label>物料名称：</label><input id="m_name" name="m_name" type="text"/>
          </div>
          <div class="item">
            <label>物料类别：</label><select id="m_type" name="m_type">
              <% Material::TYPES_NAMES.each do |key, value| %>
                <option value="<%= key %>"><%= value %></option>
              <% end %>
            </select>
          </div>
          <div class="item">
            <label>订货单号：</label><input id="m_o_code" name="m_o_code" type="text"/>
          </div>
          <div class="item">
            <label>条形码：</label><input id="m_code" name="m_code" type="text"/>
          </div>
          <div class="item">
            <label>单价：</label><input id="m_price" name="m_price" type="text"/>
          </div>
          <div class="item">
            <label>数量：</label><input id="m_num" name="m_num" type="text"/>
          </div>
        </div>
        <div class="btn_box">
          <button id="ruku_btn" class="confirm_btn">确定</button>
        </div>
        <div class="clear"></div>
      </div>
    </div>
</div>
<script type="text/javascript">
  $("#started_time").datepicker({
    inline: true
  });
  $("#ended_time").datepicker({
    inline: true
  });
  $("#table_show .pageTurn a").live("click", function(){   //分页AJAX
       var url = $(this).attr("href");   
       var tab = $(this).parents('.pageTurn').parent().attr("id");
       $.ajax({
            async:true,
            type : 'get',
            dataType : 'script',
            url : url,
            data : {tab:tab}
        });
       return false;
    });
    $("a[name='material_beizhu']").live("click", function(){ //库存备注
      var mid = $(this).parent().find("input").val();
      $.ajax({
        type: "get",
        url: "/materials/show_material_beizhu",
        data: {m_id : mid}
      })
    });
    $("a[name='material_check']").live("click", function(){ //库存核实
      var obj = $(this);
      var mid = $(this).parent().find("input").val();
      var count = $(this).parent().prev().find("input").val();
       if(isNaN(parseInt(count))){
         alert("请输入有效的数字!");
       }else{
         $.ajax({
        dataType: "json",
        type: "post",
        url: "/materials/material_check",
        data: {m_id : mid, storage : count},
        success: function(data){
          if(data == 0){
            alert("操作失败!");
          }else{
            obj.parent().prev().prev().prev().text(count);
            alert("操作成功！");
          }
        }
      })
       }
    })
    $("a[name='mat_order_beizhu']").live("click", function(){ //门店订货备注
      var moid = $(this).parent().find("input").val();
      $.ajax({
        type: "get",
        url: "/materials/show_material_order_beizhu",
        data: {mo_id : moid}
      })
    });
    $("#beizhu_cancel_btn").live("click", function(){  //备注取消按钮
      $("#beizhu_area").empty();
      return false;
    })
    $("a[name='beizhu_cancel_x']").live("click", function(){  //备注X按钮
      $("#beizhu_area").empty();
    })
    $("a[name='mat_order_detail']").live("click", function(){ //订单详情
       var moid = $(this).parent().find("input").val();
       $.ajax({
         type: "get",
         url: "/materials/mat_order_detail",
         data: {mo_id : moid}
       })
    })
    $("a[name='order_detail_cancel_x']").live("click", function(){ //订单X关闭按钮
      $("#order_detail").empty();
    })
    $("#deliver_good").live("click", function(){  //发货按钮
      var moid = $(this).parent().find("input").val();
      $("#order_detail_and_deliver").append("<div class='item'><label>预计到货时间:</label><input type='text' id='arrive_time'></div>\n\
                                            <div class='item'><label>运单号:</label><input type='text' id='logistic_code'></div>\n\
                                              <div class='item'><label>运单人:</label><input type='text' id='carrier'/></div>");
      $('#arrive_time').datepicker({inline: true}); //加上时间插件
      $("#order_detail_btn_box").html("<input type='hidden' value='"+moid+"'/><button id='deliver_submit_btn' class='confirm_btn'>确定</button>\n\
      <button id='deliver_cancel_btn'class='cancel_btn'>返回</button>");
    })
    
    $("#deliver_cancel_btn").live("click", function(){  //发货返回
       $("#order_detail").empty();
    })
    $("#deliver_submit_btn").live("click", function(){  //发货确定按钮
      var moid = $(this).parent().find("input").val();
      var arrive_time = $("#arrive_time").val();
      var logistic_code = $("#logistic_code").val();
      var carrier = $("#carrier").val();
      if(arrive_time == ""){
        alert("输入到货时间!")
      }else if(logistic_code == ""){
        alert("输入运单号码");
      }else if(carrier == ""){
        alert("输入运单人姓名");
      }else{
        $.ajax({
          type: "post",
          url: "/materials/deliver_good",
          data: {
              m_o_id : moid,
              arrive_time : arrive_time,
              logistic_code : logistic_code,
              carrier : carrier
          },
          success : function(data){
            if (data == 0){
              alert("发货失败!");
              $("#order_detail").hide();
              $(".mask").hide();
              $("#order_detail").empty();
            }else if (data == 1){
              alert("发货成功！");
              $("#order_detail").hide();
              $(".mask").hide();
              $("#order_detail").empty();
              $("#arrival_at"+moid).text(arrive_time);
              $("#mo_status"+moid).text("已发货");
              $("#logi_info"+moid).html("物流单号:"+logistic_code+"<br/>承运人:"+carrier);
            }
          }
        })
      }
    })
    $("#mo_search_button").click(function(){   //门店订货记录查询
      var status = $("#select_mo_status").val();
      var started_time = $("#started_time").val();
      var ended_time = $("#ended_time").val();
      if(new Date(started_time) > 0 && new Date(ended_time) > 0 && new Date(ended_time) < new Date(started_time)){
        alert("结束时间必须在开始时间之后!")
      }else{
        $.ajax({
          type: "get",
          dataType : 'script',
          url:"/materials",
          data: {
            tab : "mat_orders_tab",
            status : status,
            started_time : started_time,
            ended_time : ended_time
          }
        })
      }
    })
    $("#ruku_a").click(function(){ //入库按钮
        popup($("#ruku"));
    })
    $("#ruku_cancel_x").click(function(){ //入库取消按钮
      $("#m_name").val("");
      $("#m_type").val(1);
      $("#m_o_code").val("");
      $("#m_code").val("");
      $("#m_price").val("");
      $("#m_num").val("");
    })
    $("#ruku_btn").click(function(){  //入库
      var num_flag = (new RegExp(/^\d+$/)).test( $("#m_num").val());
      var price_flag = (new RegExp("^[1-9][0-9]*\.[0-9]+$")).test($("#m_price").val()) || (new RegExp(/^\d+$/)).test( $("#m_price").val());
      if($("#m_name").val() == ""){
        alert("物料名不能为空!");
      }else if( $("#m_o_code").val() == ""){
        alert("订货单号不能为空!");
      }else if($("#m_code").val() == ""){
        alert("请输入条形码");
      }else if( $("#m_price").val() == ""){
        alert("请输入单价");
      }else if(price_flag == false){
        alert("请输入正确的价格");
      }else if( $("#m_num").val() == ""){
        alert("请输入数量");
      }else if(num_flag == false){
        alert("数量必须是大于等于零的整数");
      }else{
        $.ajax({
          type: "post",
          url: "/materials/ruku",
          data: {
            m_name : $("#m_name").val(),
            m_type : $("#m_type").val(),
            m_code : $("#m_code").val(),
            m_o_code : $("#m_o_code").val(),
            m_num : $("#m_num").val(),
            m_price : $("#m_price").val()
          }
        })
      }
    })
</script>