<%= stylesheet_link_tag    "application", "style", "jquery-ui-1.10.0.custom.min.css" %>
<%= javascript_include_tag "application", "main", "jquery.tablesorter.min",  "materials" %>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table" id="materials_list_table">
  <thead>
    <tr class="hbg">
      <th>条形码</th>
      <th><span class="sort_u">物料名称</span></th>
      <th><span class="sort_d">物料类别</span></th>
      <th>库存状态</th>
      <th>库存量（个）</th>
      <th>成本价（元）</th>
    </tr>
  </thead>
  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.code %></td>
        <td><%= material.name %></td>
        <td><% Material::TYPES_NAMES.each do |key, value| %><% if key == material.types %><%= value %><% end %><% end %></td>
        <td>存货</td>
        <td><%= material.storage %></td>
        <td><%= material.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>