<div class="item">
  <label><span class="red">*</span>名称：</label><input name="name" id="name" type="text" value="<%= @product.name %>" />
</div>
<div class="item">
  <label><span class="red">*</span>全国零售价：</label><input name="base_price" id="base_price" type="text" value="<%= @product.base_price %>" />
</div>
<div class="item">
  <label><span class="red">*</span>全国促销价：</label><input name="sale_price" id="sale_price" type="text" value="<%= @product.sale_price %>" />
</div>
<div class="item">
  <label>类别：</label><select  id="prod_types" name="prod_types">
    <% Product::PRODUCT_TYPES.select {|k,v| k < Product::PRODUCT_END}.each do |key,value| %>
      <option value="<%= key %>" <%if @product.types==key%> selected<%end%> ><%= value %></option>
    <% end %>
  </select>
</div>
<div class="seeProDiv">
  <div class="seeProDiv_l">配图：</div>
  <div class="seeProDiv_rWidth">
    <% if @img_urls %>
      <ul class="seeProPic">
        <%@img_urls.each do |url|%>
          <li><img src="<%=url.img_url.nil? ? "" : url.img_url.gsub("img#{@product.id}","img#{@product.id}_#{Constant::P_PICSIZE[0]}") %>" /></li>
        <%end unless @img_urls.blank?%>
      </ul>
    <% end %>
    <a href="javascript:void(0)" class="compile_btn" onclick="before_center('.add_img');">添加图片</a><span>*添加新图片会使已上传图片被删除，请为图片做好备份</span>
  </div>
</div>
<div class="item">
  <label><span class="red">*</span>规格：</label><input name="standard" id="standard" type="text" value="<%= @product.standard %>" />
</div>
<div class="item_textarea">
  <label>简介：</label><textarea name="intro" id="intro" cols="" rows="" class="width_textarea"><%=@product.description  %></textarea>
</div>
<div class="item_textarea">
  <label>描述：</label><textarea  id="add_intro" cols="" rows="" class="width_textarea" style="width:470px"><%=@product.introduction  %></textarea>
  <input type="hidden" name="desc" id="desc" />
</div>
<script type="text/javascript">
  var serv_editor;
  $(function() {
    serv_editor = KindEditor.create('textarea[id="add_intro"]', {
      allowFileManager : true
    });
  });
</script>



