<%= javascript_include_tag "/assets/products.js" %>
<%= javascript_include_tag "/assets/kindEditor/kindeditor-min.js" %>
<%= javascript_include_tag "/assets/kindEditor/zh_CN.js" %>
<div class="main">
  <div class="box">
    <div class="data_box">
      <div class="data_menu"><a href="javascript:void(0)" class="add_btn" onclick="add_prod()" >添加产品</a></div>
      <div class="clear"></div>
      <div class="data_body">
        <div>
          <%unless @products.blank? %>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
              <thead>
                <tr class="hbg">
                  <td>产品编号</td>
                  <td>产品名称</td>
                  <td>价格</td>
                  <td>类别</td>
                  <td>操作</td>
                </tr>
              </thead>
              <tbody>
                <% @products.each do |prod| %>
                  <tr>
                    <td><%= prod.code %></td>
                    <td><%= prod.name %></td>
                    <td><%= prod.sale_price %></td>
                    <td><%= Product::PRODUCT_TYPES[prod.types] %></td>
                    <td><%if prod.store_id!=Constant::STORE_ID%>
                        <a href="javascript:void(0)"  onclick="edit_prod('<%=prod.id %>')">编辑</a>
                      <% end %>
                      <a href="javascript:void(0)" class="see_btn" onclick="show_prod('<%=prod.id %>')">查看</a>
                      <a href="/products/<%=prod.id %>" target="_blank" class="see_btn"  >预览</a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="pageTurn">
              <%= will_paginate @products,:class=>"pageTurn",:previous_label=>"上一页",:next_label=>"下一页" %>
            </div>
          <% else %>
            暂无产品信息
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="foot"><p>Copyright © 2013 杭州澜泰 版权所有</p></div>
<div class="mask"></div>
<div class="tab_popup see_tab"></div>
<div id="serv_add_edit"></div>
