<div class="box">
  <div class="data_box">
    <div class="data_menu" id="new_sale_button">
      <% if permission?(:market_manage, :new_sale) %>
      <a href="/sales/new?page=<%= params[:page] %>">新建活动</a>
      <% end %>
    </div>
    <div class="clear"></div>
    <div id="sales_list" class="data_body">
      <div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
          <thead>
            <tr class="hbg">
              <td>活动名称</td>
              <td>活动代码</td>
              <td>活动时间</td>
              <td>状态</td>
              <td>操作</td>
            </tr>
          </thead>
          <tbody>
              <% @sales.each do |s| %>
                <tr>
                  <td><%= s.name ||= "----" %></td>
                  <td><%= s.code ||= "----"%></td>
                  <td>
                      <%= s.started_at.nil? || s.started_at == "" ? "----" : s.started_at.strftime("%Y-%m-%d") %>/<%= s.ended_at.nil? || s.ended_at == "" ? "----" : s.ended_at.strftime("%Y-%m-%d") %>
                  </td>
                  <%  if s.status.to_i == 0 %>
                    <td>未发布</td>
                  <% elsif s.status.to_i == 1 %>
                    <td>已发布</td>
                  <% else %>
                    <td>已关闭</td>
                  <% end %>
                  <td>
                    <% if permission?(:market_manage, :edit_sale) %><a href="/sales/edit?id=<%= s.id %>&page=<%= params[:page] %>">修改</a><% end %>
                    <% if s.status.to_i == Sale::STATUS[:UN_RELEASE] %>
                      <% if permission?(:market_manage, :release_sale) %><%= link_to "发布", "/sales/rel_sale?id=#{s.id}&page=#{params[:page]}", :confirm => "确定发布该活动吗?" %><% end %>
                    <% end %>
                      <% if permission?(:market_manage, :del_sale) %><%= link_to "删除", "/sales/#{s.id}?page=#{params[:page]}", :method => "delete", :confirm => "确定删除该活动吗?" %><% end %>
                  </td>
                </tr>
              <% end %>
          </tbody>
        </table>
        <input type="hidden" id="current_page" value="<%= params[:page] %>" />
          <% if !@sales.blank? %>
            <%= will_paginate  @sales, :previous_label => "上一页", :next_label=> "下一页", :class => "pageTurn" %>
          <% end %>
      </div>
    </div>
  </div>
</div>