<!doctype html>
<html>  <!--运营管理布局模板-->
  <head>
    <meta charset="utf-8"/>
    <title>运营管理</title>
    <%= stylesheet_link_tag    "application", "style" %>
    <%= javascript_include_tag "application","main", "stores" %>
    <script type="text/javascript" src="/assets/My97DatePicker/WdatePicker.js" ></script>
    <!--[if IE 6]>
    <script src="/assets/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
      DD_belatedPNG.fix('*');
    </script>
    <![endif]-->
  </head>
  <body>
    <div class="head">
      <div class="box">
        <div class="logo">
          <% if cookies[:user_id] %>
            澜泰总部后台管理系统
          <% elsif cookies[:manage_id] %>
            澜泰连锁店后台管理系统
          <% end %>
        </div>
        <div class="login">
          你好：
          <% if cookies[:user_id] %>
            <%= cookies[:user_name] %>
          <% elsif cookies[:manage_id] %>
            <%= cookies[:manage_name] %>
          <% end %>
          | <% if cookies[:user_id] %><a href="/logins/logout">退出</a><% elsif cookies[:manage_id] %><a href="/s_staffs/logout">退出</a><% end %>
        </div>
        <div class="clear"></div>
        <div class="nav">
          <ul>
            <li><a class="hover">门店</a></li>
          </ul>
        </div>
        <div class="back"><a href="/backstages" title="返回">Back</a>运营管理</div>
      </div>
    </div>
    <div class="main">
     <%= yield %>
    </div>
    <div class="foot"><p>Copyright © 2013 杭州澜泰 版权所有</p></div>
    <div class="mask"></div>
    <%= render :partial => "/common/tishi_alert" %>
  </body>
</html>