<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "p_style" %>
    <%= javascript_include_tag "application" %>
    <title><%= @title.nil? ? "统计管理--营销--营业额汇总表" : @title %></title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="head">
      <div class="box">
        <div class="logo">澜泰总部后台管理系统</div>
        <div class="login">你好：<%= cookies[:user_name] %> | <a href="/logins/logout">退出</a></div>
        <div class="clear"></div>
        <div class="nav">
          <ul>
            <li><a href="/sales" 
                   <% if  controller.controller_name=="sales" %> class="hover" <%end%>>活动</a></li>
            <li><a href="/products" 
                   <% if controller.controller_name=="products" and (controller.action_name =~/service/) == nil %> class="hover" <%end%> id="product">产品</a></li>
            <li><a href="/products/prod_services"
                   <% if controller.controller_name=="products" and controller.action_name =~/service/ %> class="hover" <%end%> id="service">服务</a></li>
            <li><a href="/package_cards"
                   <% if  controller.controller_name=="package_cards" %> class="hover" <%end%> >套餐卡</a></li>
          </ul>
        </div>
        <div class="back"><a href="/stores/<%= params[:store_id] %>/welcomes" title="返回">Back</a>营销管理</div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
